{% extends "member_site/base.html" %}
{% block title %}Reset Password{% endblock %}
{% block links %}<li><a href="{% url 'login' %}">Home</a></li>{% endblock %}
{% block header %}Reset Your Password{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group row">
            <label style="text-align: right;" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
            <div class="col-sm-4">
                {{ field }}
            </div>
        </div>
            {% for errior in field.errors %}
                <div class="container-fluid">{{ error }}</div>
            {% endfor %}
        {% endfor %}
        <div class="form-group row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}