{% extends "member_site/base.html" %}
{% block title %}Change Password{% endblock %}
{% block links %}<li><a href="{% url 'login' %}">Home</a></li>{% endblock %}
{% block header %}Change Your Password{% endblock %}
{% block content %}
    {% if validlink %}
        <form method="post">
        {% csrf_token %}
            {% for field in form %}
                <div class="form-group row">
                    <label style="text-align: right;" class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                    <div class="col-sm-4">
                        {{ field }}
                    </div>
                </div>
                {% for errior in field.errors %}
                    <div class="container-fluid">{{ error }}</div>
                {% endfor %}
            {% endfor %}
            <div class="form-group row">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
     {% else %}
        <div class="container-fluid">
            This is an invalid link. Please request a new link by clicking <a href="{% url 'member_site:password_reset' %}">here</a>
        </div>
    {% endif %}
{% endblock %}