{% extends "member_site/base.html" %}
{% block title %}{{ display_obj.name }}{% endblock %}
{% block links %}
    <li class="nav-item col-6"><a href="{% url 'member_site:haystack_search' %}">Home</a></li>
    <li class="nav-item col-6"><a href="{% url 'logout' %}">Logout</a></li>
{% endblock %}
{% block header %}{{ display_obj.name }}{% endblock %}
{% block content %}
<div class="container-fluid">
    {% if display_obj.file_type == 'doc' %}
        <object data="{% static ''|add:display_obj.location %}" type="application/pdf" width="1366" height="768">
            <embed src="{% static ''|add:display_obj.location %}" type="application/pdf">
                <p>No support</p>
        </object>
    {% elif display_obj.file_type == 'video' %}
        <video type="video/mp4" src="{% static ''|add:display_obj.location %}" width="500" height="500" class="mejs__player"></video>
    {% elif display_obj.file_type == 'audio' %}
        <audio type="audio/mp3" src="{% static ''|add:display_obj.location %}" class="mejs__player"></audio>
    {% elif display_obj.file_type == 'img' %}
        <img src="{% static ''|add:display_obj.location %}" />
    {% endif %}
    <a href="{% static ''|add:display_obj.location %}"><button type="button" class="btn btn-primary" value="Download">Download</button></a>
</div>
{% endblock %}
