{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ display_obj.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/mediaelement/build/mediaelement-and-player.js' %}" ></script>
    <link rel="stylesheet" href="{% static 'vendor/mediaelement/build/mediaelementplayer.css' %}" />
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'member_site:home' %}"><img src="{% static 'img/logo.jpg' %}"></a>
        </div>
        <ul class="navbar-nav">
            <li class="nav-item col-6"><a href="{% url 'member_site:home' %}">Home</a></li>
            <li class="nav-item col-6"><a href="{% url 'member_site:logout' %}">Logout</a></li>
        </ul>
    </div>
</nav>
<div class="jumbotron-fluid" style="background-color:#E98E21;text-align:center">
    <div class="container-fluid">
        <br />
        <h1>{{ display_obj.name }}</h1>
        <br />
    </div>
</div>
<div class="container-fluid">
    {% if display_obj.file_type == 'doc' %}
        <object data="{% static ''|add:display_obj.location %}" type="application/pdf" width="1366" height="768">
            <embed src="{% static ''|add:display_obj.location %}" type="application/pdf">
                <p>No support</p>
        </object>
    {% elif display_obj.file_type == 'video' %}
        <video type="video/mp4" src="{% static ''|add:display_obj.location %}" width="500" height="500" class="mejs__player"></video>
    {% elif display_obj.file_type == 'audio' %}
        <audio type="audio/mp3" src="{% static ''|add:display_obj.location %}" class="mejs__player"></audio>
    {% elif display_obj.file_type == 'img' %}
        <img src="{% static full_location %}"
    {% endif %}
</div>
</body>
</html>
