{% extends "member_site/base.html" %}
{% block title %}Member Login{% endblock %}
{% block header %}Member Login{% endblock %}
{% block content %}
<br /><br />
    {% if messages %}
	{% for m in messages %}
	{% endfor %}
        <div id="incorrect" class="alert-danger"></div>
        <script>incorrectLogin()</script>
        <br /><br />
    {% endif %}
    {% if message %}
        <div id="success_create" class="alert-primary">
            <p>{{ message }}</p>
        </div>
    {% endif %}
<div class="container-fluid " >
    <form action="{% url 'member_site:process_login' %}" method="post">
        {% csrf_token %}
        <div class="form-group row">
            <label for="email_input" style="text-align: right;" class="col-sm-2 col-form-label">Email Address:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email" id="email_input" placeholder="ex@example.com">
            </div>
        </div>
        <div class="form-group row">
            <label for="password_input" style="text-align:right;" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password_input" name="password" placeholder="example">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2" align="right">
                <button type="reset" class="btn btn-outline-dark">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2" align="right">
                No account?
            </div>
            <div class="col-sm-2">
                <a href="{% url 'member_site:signup' %}"class="">Sign up</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
