{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" >
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'member_site:home' %}"><img src="{% static 'img/logo.jpg' %}"></a>
        </div>
    </nav>
    <div class="jumbotron-fluid" style="background-color:#E98E21;text-align:center">
        <div class="container-fluid">
            <br />
            <h1>Logout</h1>
            <br />
        </div>
    </div>
    <div class="container-fluid">
        <p>You have successfully logged out. <a href="{% url 'member_site:index' %}">Return to login?</a></p>
    </div>
</body>
</html>
