{% extends "member_site/base.html" %}
{% block title %}Sign Up{% endblock %}
{% block links %}
    <li class="nav-item col-6"><a href="{% url 'member_site:index' %}">Home</a></li>
{% endblock %}
{% block header %}Sign Up{% endblock %}
{% block content %}
{% if messages %}
    <div id="incorrect" class="alert-danger">
    Please fix:
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    </div>
    <br /><br />
{% endif %}
<div class="container-fluid" >
    <form name="signUpForm" action="{% url 'member_site:process_signup' %}" method="post">
        {% csrf_token %}
        <div id="firstNInvalid" class="alert-danger"></div>
        <div class="form-group row">
            <label for="firstn_input" style="text-align: right;" class="col-sm-2 col-form-label">First Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="first_name" id="firstn_input">
            </div>
        </div>
        <div id="lastNInvalid" class="alert-danger"></div>
        <div class="form-group row">
            <label for="lastn_input" style="text-align: right;" class="col-sm-2 col-form-label">Last Name:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" name="last_name" id="lastn_input">
            </div>
        </div>
        <div id="emailInvalid" class="alert-danger"></div>
        <div class="form-group row">
            <label for="email_input" style="text-align: right;" class="col-sm-2 col-form-label">Email Address:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" name="email" id="email_input">
            </div>
        </div>
        <div id="passwordInvalid" class="alert-danger"></div>
        <div class="form-group row">
            <label for="password_input" style="text-align:right;" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password_input" name="password">
            </div>
        </div>
        <div id="passwordConfirmInvalid" class="alert-danger"></div>
        <div class="form-group row">
            <label for="password_con_input" style="text-align:right;" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="password_con_input" name="password_confirm">
            </div>
        </div>
        <div id="codeInvalid" class="alert-danger"></div>
        <div class="form-group row">
            <label for="code_input" style="text-align:right;" class="col-sm-2 col-form-label">Verification Code:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="code_input" name="verif_code">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2" align="right">
                <button type="reset" class="btn btn-outline-dark">Reset</button>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
