{% extends 'member_site/base.html' %}
{% load staticfiles %}
{% block title %}Members Home{% endblock %}
{% block links %}
    <li class="nav-item col-6"><a href="{% url 'member_site:haystack_search' %}">Home</a></li>
    <li class="nav-item col-6"><a href="{% url 'logout' %}">Logout</a></li>
{% endblock %}
{% block header %}Members' Home{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <div class="container-fluid" >
        <h1>Search for resources</h1>
        <form method="get" action=".">
            <table>
                {{ form.as_table }}
                <tr class="form-group row">
                    <td>&nbsp;</td>
                    <td>
                        <input type="submit" value="Search">
                    </td>
                </tr>
            </table>

            {% if query %}
                <h3>Results</h3>

                {% for result in page.object_list %}
                    <div class="col-sm">
                        <img src="{% static 'img/{{ result.file_type}}.png'%}" alt="icon" width="60" height="60" />
                <a href="{% url 'member_site:details' name_display=result.name %}">{{ result.name }}</a>
                </div>
                {% empty %}
                    <p>No results found.</p>
                {% endfor %}
            {% endif %}
        </form>
    </div>
    {% else %}
        You are not currently logged in. Please <a href="{% url 'login' %}">log in.</a>
    {% endif %}
{% endblock %}
